#area1{
  position: absolute;
  top: 270px;
  right: 849px;
}
#area2{
  position: absolute;
  top: 310px;
  right: 876px;
}
#area3{
 position: absolute;
 top: 340px;
 right: 900px;
}
#area4{
  position: absolute;
  top: 385px;
  right: 914px;
}
#area5{
  position: absolute;
  top: 435px;
  right: 914px;
}
#area6{
  position: absolute;
  top: 487px;
  right: 914px;
}
#area7{
  position: absolute;
  top: 541px;
  right: 914px;
}
#area8{
  position: absolute;
  top: 586px;
 right: 898px;
}
#area9{
  position: absolute;
  top: 622px;
  right: 876px;
}
#area10{
  position: absolute;
  top: 658px;
  right: 849px;
}
#area11{
  position: absolute;
  top: 687px;
  right: 810px;
}
#area12{
  position: absolute;
  top: ;
  right: ;
}
#area13{
  position: absolute;
  top: ;
  right: ;
}
#area14{
  position: absolute;
  top: ;
  right: ;
}
#area15{
  position: absolute;
  top: ;
  right: ;
}
#area16{
  position: absolute;
  top: ;
  right: ;
}
#area17{
  position: absolute;
  top: ;
  right: ;
}
#area18{
  position: absolute;
  top: ;
  right: ;
}
#area19{
  position: absolute;
  top: ;
  right: ;
}
#area20{
  position: absolute;
  top: ;
  right: ;
}
#area21{
  position: absolute;
  top: ;
  right: ;
}
#area22{
  position: absolute;
  top: ;
  right: ;
}
#area23{
  position: absolute;
  top: ;
  right: ;
}
#area24{
  position: absolute;
  top: ;
  right: ;
}
#area25{
  position: absolute;
  top: ;
  right: ;
}
#area26{
  position: absolute;
  top: ;
  right: ;
}
#area27{
  position: absolute;
  top: ;
  right: ;
}
#area28{
  position: absolute;
  top: ;
  right: ;
}
#area29{
  position: absolute;
  top: ;
  right: ;
}
#area30{
  position: absolute;
  top: ;
  right: ;
}
#area31{
  position: absolute;
  top: ;
  right: ;
}
#area32{
  position: absolute;
  top: ;
  right: ;
}
#area33{
  position: absolute;
  top: ;
  right: ;
}
#area34{
  position: absolute;
  top: ;
  right: ;
}
#area35{
  position: absolute;
  top: ;
  right: ;
}
#area36{
  position: absolute;
  top: ;
  right: ;
}