@charset "utf-8";

body{
	margin: 0px;
	padding: 0px;
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("../images/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.nav-container{
	width: 100%;
	height: 140px;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 2px 2px 12px rgba(0,0,0,0.20);
	position: fixed;
	top: 0px;
}

.nav-container ul{
	margin-top: 50px;
	display: flex;
	float: right;
	list-style: none;
}

.nav-container ul li a{
	padding: 0px 30px;
}

.nav-container a{
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}

#red a:hover{
	color: #f03a3a;
}

#yellow a:hover{
	color: #fffc26;
}

#green a:hover{
	color: #26a633;
}

#blue a:hover{
	color: #214dff;
}

#purple a:hover{
	color: #bf0cf5;
}

.title{
	text-align: center;
	font-size: 30pt;
	margin-top: 9%;
	font-family: 'Press Start 2P', cursive;
	color: #fff;
}
.game-board{
	background-image: url(/images/Trouble_Board_PSD1.jpg);
	background-repeat: no-repeat;
	width: 600px;
	height: 600px;
	background-size:contain;
	margin: 0 auto;
}
img{
	width: 50px;
	height: 50px;
}
.hidden{
	visibility: hidden;
}

.B-visible{
	background-image: url(/images/Trouble_B.png);
	visibility: visible;
	position: absolute;
	height: 50px;
	width: 50px;
	background-size:contain;
}
.R-visible{
	background-image: url(/images/R\ letter.png);
	visibility: visible;
	position: absolute;
	height: 50px;
	width: 50px;
	background-size:contain;
}

.U-visible{
	background-image: url(/images/U\ letter.png);
	visibility: visible;
	position: absolute;
	height: 50px;
	width: 50px;
	background-size:contain;
}

.H-visible{
	background-image: url(/images/HletterBruh.png);
	visibility: visible;
	position: absolute;
	height: 50px;
	width: 50px;
	background-size:contain;
}
